<h3 class="bg-primary text-center text-white p-2">
  Lista {{ username }}a
  <h6 class="mt-1"> Reczy pozostałe do zrobienia: {{ itemCount }}</h6>
</h3>

<table class="table table-striped table-bordered table-sm">
  <thead>
    <tr>
      <th>#</th>
      <th>Zadanie</th>
      <th>Wykonane</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ item.task }}</td>
      <td [ngSwitch]="item.completed">
        <span *ngSwitchCase="true">Tak</span>
        <span *ngSwitchDefault>Nie</span>
      </td>
    </tr>
  </tbody>
</table>